

header{
    font-size: 30px;
    text-align: center;
    color: #7e40ff;
}

body {
    text-align: center;
    font-family: "Britannic Bold";
    background-color: #dbdeee;
}

h1 {
    font-size:20px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #7e40ff;
}

select{
    margin-bottom: 5px;
}

#matchTitle,#guessOrigin{
    margin-bottom: 5px;
    font-size: 20px;
    color: #7e40ff;

}

#getPhotos, #getPhoto, #submitGuess{
    margin-bottom: 5px;
    background-color: #7e40ff;
}

#photos .selected {
    box-shadow:0px 12px 22px 1px #b283ff;
}

.photos, #photo {
    border: solid 2px #7e40ff;
}