

header{
    font-size: 30px;
    text-align: center;
    color: #7e40ff;
}

h1, h2, h3 {
    font-size:20px;
    font-weight: normal;
    margin-bottom: 5px;
}

select{
    margin-bottom: 5px;
}

#matchTitle,#guessOrigin{
    margin-bottom: 5px;
    font-size: 20px;
}

#getPhotos, #getPhoto{
    margin-bottom: 5px;
}

#photos .selected {
    box-shadow:0px 12px 22px 1px #b283ff;
}

.photos, #photo {
    border:solid 2px #a01bff;
}